NEXT_PUBLIC_TRIP_AGENCY_BACKEND_API_URL=https://agence-voyage.ddns.net/api
NEXT_PUBLIC_YOWYOB_BACKEND_API_URL=https://gateway.yowyob.com/api
NEXT_PUBLIC_AGENCY_BUSINESS_DOMAIN_ID=d65aa9f0-2ffe-11f0-9b96-7719a3386480
NEXT_PUBLIC_POXY_URL_YOYOWB_BACKEND=/api
NEXT_PUBLIC_PROXY_URL_TRIP_AGENCY=/trip-agency
NEXT_PUBLIC_EXTERN_PROXY_URL=https://cors-anywhere.herokuapp.com
SECRET_KEY=secret





